.button {
  display: block;
  padding: 1.3rem 2rem 1.3rem 2rem;
  font-size: 1.4rem;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background: $color-primary;

  &:hover {
    background: darken($color-primary, 3%);
  }

  &:active {
    background: darken($color-primary, 6%);
    color: rgba(255, 255, 255, 0.5);
  }
}

@media (min-width: $tablet-width) {
  .button {
    padding: 1.6rem 2rem;
    font-size: 2rem;
  }
}
