.goods {
  padding-top: 1rem;
  padding-bottom: 1.7rem;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  &__title {
    margin-left: 1px;
    font-size: 1.6rem;
    font-weight: inherit;
    text-transform: uppercase;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
    margin-bottom: 1.2rem;
    list-style: none;
  }

  &__price {
    margin-right: -3px;
  }

  &__btn {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 1.6rem;
  }
}
