.header {
  width: 32rem;
  margin: 0 auto;
  outline: 1px solid red;
}

@media (min-width: $tablet-width) {
  .header {
    width: 76.8rem;
  }
}

@media (min-width: $desktop-width) {
  .header {
    width: 120rem;
  }
}
