.intro {
  width: 32rem;
  margin: 0 auto;
  padding: 2.6rem 2rem 2rem 2rem;
  text-align: center;
  color: #ffffff;

  &__title {
    font-size: 3.6rem;
    font-weight: inherit;
    line-height: 1;
  }

  &__slogan {
    display: block;
    margin: 2.2rem 0 2.5rem 0;
    font-size: 1.4rem;
    font-weight: inherit;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .intro {
    width: 76.8em;
    position: relative;
    padding: 3.4rem 3rem 3rem 11.8rem;
    color: #111111;
    text-align: left;
    background: transparent;

    &__title {
      width: 45rem;
      font-size: 6.1rem;
      letter-spacing: -0.04rem;
    }

    &__slogan {
      margin: 3.5rem 0 4.3rem 0;
      font-size: 2rem;
    }

    &__image {
      position: absolute;
      z-index: 1;
      top: 23.6rem;
      right: 3rem;
    }

    &__button {
      position: relative;
      z-index: 10;
      width: 24.6rem;
    }
  }
}


@media (min-width: $desktop-width) {
  .intro {
    width: 144rem;
    padding-top: 5.8rem;
    padding-left: 19rem;

    &__slogan {
      margin-bottom: 4.8rem;
    }

    &__image {
      top: -2.1rem;
      left: 56rem;
    }
  }
}
